@font-face {
    font-family: IntroFriday;
    src: url(./Fonts/IntroFriday.ttf) format('truetype');
}
@font-face {
    font-family: Orbitron;
    src: url(./Fonts/Orbitron-Black.ttf) format('truetype');
}
@font-face {
    font-family: Bangers;
    src: url(./Fonts/Bangers-Regular.ttf) format('truetype');
}
:root{
    --index-color: #FF9100;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
body{
    max-width: 100vw;
    overflow: hidden;
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 0.5s ease;
}
#preloader.hide{
    opacity: 0;
}
#preloader img{
    max-width: 150px;
    max-height: 150px;
    animation: spin 1500ms ease-in-out infinite ;
}
#preloader p{
    display: block;
    position: relative;
    top: 245px;
    width: fit-content;
    max-width: 900px;
    font-size: 30px;
    font-family: Montserrat;
    word-wrap: normal;
    color: white;
    line-height: 30px;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    scrollbar-width: 0;
    user-select: none;
}
.content{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.marquee{
    background-color: black;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
a{
    text-decoration: none;
}
sup{
    font-size: 75px;
}
header{
    width: 100vw;
    height: max-content;
    max-height: 110px;
    position: fixed;
    top: 10px;
    z-index: 1;
}
.header-container{
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
    display: flex;
    align-items: center;
    width: 95vw;
    margin: 0 10px;
    padding: 20px 30px 20px 25px;
    max-width: 1900px;
    max-height: 70px;
    margin: 0 auto;
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 515px;
}
.logo{
    max-height: 70px;
    max-width: 110px;
}
.header-logo p{
    margin-left: 25px;
    font-size: 48px;
    font-family: IntroFriday;
    color: white;
    max-width: 380px;
    text-wrap: nowrap;
}
.buttons{
    display: flex;
    justify-content: end;
    align-items: end;
}
.buttons button{
    max-width: 50px;
    background-color: transparent;
    border: 0;
}
.buttons .theme-switch img{
    filter: drop-shadow(0 0 10px white);
}
.buttons img{
    max-width: 50px;
    max-height: 50px;
}
.navbar-button{
    margin-left: 35px;
}
.main{
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/1920x911/background-main-1920-911.png);   
}
.main .text{
    width: auto;
    position: relative;
    top: 7.5vh;
}
.main .text div{
    display: flex;
    justify-content: center;
    max-width: 720px;
    max-height: 150px;
    font-family: IntroFriday;
    font-size: 128px;
    color: white;
}
.text div p{
    display: block;
    width: auto;
    color: var(--index-color);
}
.graphic{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/1920x911/background-graphic-1920-911.png);
}
.graphic .text, .guarantees .text{
    position: relative;
    left: 100px;
    max-width: 750px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.decor{
    width: max-content;
    height: max-content;
    max-width: 60px;
    max-height: 60px;
}
.decor img{
    max-height: 60px;
    max-width: 60px;
}
.desc div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.punct{
    font-family: Orbitron;
    color: white;
    font-size: 37.5px;
}
.desc div:not(:first-child, .punct, .decor){
    margin-top: 40px;
}
.guarantees{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/1920x911/background-guarantees-1920-911.png);
}
.projects, .contacts{
    justify-content: unset;
    align-items: unset;
    flex-direction: row;
}
.project-handler{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    min-width: 1020px;
    max-width: 1020px;
    background-image: url(./Images/1920x911/background-projects-1920-911.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.contant-container{
    position: relative;
    top: 50px;
    left: 100px;
}
.image-container{
    position: relative;
    display: flex;
    flex-direction: row;
    right: 100px;
    z-index: -1;
    max-width: 1000px;
    height: max-content;
    transition: transform 0.5s ease-in-out;
}
.slidebar{
    transition: transform 1s ease-in-out;
}
.slide-image{
    width: auto;
}

.project-handler .text{
    margin-top: 50px;
    color: white;
    max-width: 650px;
}
.project-handler .text .slide-title{
    font-family: Bangers;
    font-size: 80px;
}
.project-handler .text .slide-description{
    font-family: Orbitron;
    font-size: 40px;
    margin-top: 26px;
    height: 320px;
}
.footer{
    margin-top: 165px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
}
.footer .author{
    width: max-content;
}
.footer .author-tag{
    max-width: 200px;
    max-height: 80px;
}
.projects .footer .links{
    display: flex;
    margin-left: 158px;
    max-width: 410px;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: IntroFriday;
    font-size: 40px;
    background-image: url(./Images/background-projects-button.svg);
}
.contacts p{
    max-width: 510px;
}
.form-container{
    background: url(./Images/1920x911/background-form-1920-911.png) no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 100px;
    min-height: 991px;
    min-width: 1000px;
    height: max-content;
    width: max-content;
}
#contacts{
    background-color: black;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 911px;
}
input:first-child{
    margin-top: 0px;
}
input, textarea, button[type=submit]{
    position: relative;
    color: #4F86FF;
    margin-top: 50px;
    font-family: Intro Friday;
    font-size: 40px;
    border: none;
    padding: 0 50px;
    outline: none;
    transition: background-image 300ms ease-out;
    background: transparent url(./Images/1920x911/background-form-field-1920-911.png) no-repeat;
    background-size:cover;
    max-width: 610px;
    min-height: 100px;
}
textarea{
    background: transparent url(./Images/1920x911/background-form-field-big-1920-911.png) no-repeat;
    min-height: 250px;
    max-width: 590px;
    resize: none;
    padding: 25px 71px;
}
button[type=submit]{
    background: transparent url(./Images/background-form-button.svg) no-repeat;
    padding: unset;
    color: black;
    max-width: 710px;
    position: relative;
    right: 20px;
    opacity: 0.5;
    cursor: not-allowed;
    transition: opacity 300ms ease-out;
}
button[type=submit]:not([disabled]){
    opacity: 1;
    cursor: pointer;
}
textarea::placeholder, input::placeholder{
    position: relative;
    color: white;
    font-family: Intro Friday;
    font-size: 40px;
    transition: color 300ms ease-out;
}
input:focus::placeholder, textarea:focus::placeholder{
    color: var(--index-color);
    
}
input:focus{
    background-image: url(./Images/1920x911/background-form-field-focus-1920-911.png);
}
textarea:focus{
    background-image: url(./Images/1920x911/background-form-field-big-focus-1920-911.png);
}
input:nth-child(1){
    left: 35.75px;
}
input:nth-child(2){
    left: 19.25px;
}
