@font-face {
    font-family: IntroFriday;
    src: url(./Fonts/IntroFriday.ttf) format('truetype');
}
@font-face {
    font-family: Orbitron;
    src: url(./Fonts/Orbitron-Black.ttf) format('truetype');
}
@font-face {
    font-family: Bangers;
    src: url(./Fonts/Bangers-Regular.ttf) format('truetype');
}
:root{
    --index-color: #FF9100;
}
body{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    scrollbar-width: 0;
}
.content{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.marquee{
    background-color: black;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
a{
    text-decoration: none;
}
sup{
    font-size: 75px;
}
header{
    width: 100vw;
    height: max-content;
    max-height: 110px;
    position: fixed;
    top: 10px;
    z-index: 1;
}
.header-container{
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
    display: flex;
    align-items: center;
    width: 95vw;
    margin: 0 10px;
    padding: 20px 30px 20px 25px;
    max-width: 1900px;
    max-height: 70px;
    margin: 0 auto;
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 515px;
}
.logo{
    max-height: 70px;
    max-width: 110px;
}
.header-logo p{
    margin-left: 25px;
    font-size: 48px;
    font-family: IntroFriday;
    color: white;
    max-width: 380px;
    text-wrap: nowrap;
}
.buttons{
    display: flex;
    justify-content: end;
    align-items: end;
}
.buttons button{
    max-width: 50px;
    background-color: transparent;
    border: 0;
}
.buttons .theme-switch img{
    filter: drop-shadow(0 0 10px white);
}
.buttons img{
    max-width: 50px;
    max-height: 50px;
}
.navbar-button{
    margin-left: 35px;
}
.main{
    align-items: center;
    background-image: url(./Images/Desktop\ Main\ Sector\ Background\ Chrome.png);   
}
.main .text{
    width: auto;
    position: relative;
    top: 7.5vh;
}
.main .text div{
    display: flex;
    justify-content: center;
    max-width: 720px;
    max-height: 150px;
    font-family: IntroFriday;
    font-size: 128px;
    color: white;
}
.text div p{
    display: block;
    width: auto;
    color: var(--index-color);
}
.graphic{
    background-image: url(./Images/Desktop\ Graphic\ Sector\ Background\ Chrome.png);
}
.graphic .text, .garanties .text{
    position: relative;
    left: 100px;
    max-width: 750px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.decor{
    width: max-content;
    height: max-content;
    max-width: 60px;
    max-height: 60px;
}
.decor img{
    max-height: 60px;
    max-width: 60px;
}
.desc div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.punct{
    font-family: Orbitron;
    color: white;
    font-size: 37.5px;
}
.desc div:not(:first-child, .punct, .decor){
    margin-top: 40px;
}
.garanties{
    background-image: url(./Images/Desktop\ Garanties\ Sector\ Background\ Chrome.png);
}
.projects{
    justify-content: unset;
    align-items: unset;
    flex-direction: row;
}
.project-handler{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    min-width: 1020px;
    max-width: 1020px;
    background-image: url(./Images/Desktop\ Projects\ Sector\ Background\ Chrome.svg);
    background-size: contain;
}
.contant-container{
    position: relative;
    top: 50px;
    left: 100px;
}
.image-container{
    position: relative;
    display: flex;
    flex-direction: row;
    right: 100px;
    z-index: -1;
    max-width: 1000px;
    height: max-content;
    transition: transform 0.5s ease-in-out;
}
.sidebar{
    transition: transform 1s ease-in-out;
}
.slide-image{
    width: auto;
}

.project-handler .text{
    margin-top: 50px;
    color: white;
    max-width: 650px;
}
.project-handler .text .slide-title{
    font-family: Bangers;
    font-size: 80px;
}
.project-handler .text .slide-description{
    font-family: Orbitron;
    font-size: 40px;
    margin-top: 26px;
    height: 320px;
}
.footer{
    margin-top: 165px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
}
.footer .author{
    width: max-content;
}
.footer .author-tag{
    max-width: 200px;
    max-height: 80px;
}
.footer .links{
    display: flex;
    margin-left: 158px;
    max-width: 410px;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: IntroFriday;
    font-size: 40px;
    background-image: url(./Images/Links\ Button\ Background.svg);
}